<section class="section--portfolio-intro spacing--gutter spacing--vert-2 spacing--dsk-vert-5">
	<h2 class="deco color--orange"><span>{{portfolio.intro.small_text}}</span><span>{{portfolio.intro.large_text}}</span></h2>
	<div class="max-content-wrap text--center margin--center">{{portfolio.intro.content}}</div>
	<a class="button bg--blue margin--center" href="{{portfolio.intro.button_text_url}}">{{portfolio.intro.button_text}}</a>
</section>