<section class="section--meet-intro spacing--gutter spacing--vert-2 spacing--dsk-vert-5">
	<h2 class="deco color--orange"><span>{{meet.intro.small_text}}</span><span>{{meet.intro.large_text}}</span></h2>
	<div class="max-content-wrap text--center margin--center">{{meet.intro.content}}</div>
	<a class="button margin--center" href="{{meet.intro.button_text_url}}">{{meet.intro.button_text}}</a>
</section>