<section class="section--home-intro spacing--gutter spacing--vert-2 spacing--dsk-vert-5">
	<h2 class="deco color--orange"><span>{{home.intro.small_text}}</span><span>{{home.intro.large_text}}</span></h2>
	<div class="max-content-wrap text--center margin--center">{{home.intro.content}}</div>
	<a class="button bg--blue margin--center" href="{{home.intro.button_text_url}}">{{home.intro.button_text}}</a>
</section>