<section class="section--apts-intro spacing--gutter spacing--vert-2 spacing--dsk-vert-5">
	<h2 class="deco color--orange"><span>{{apts.intro.small_text}}</span><span>{{apts.intro.large_text}}</span></h2>
	<div class="max-content-wrap text--center margin--center">{{apts.intro.content}}</div>
	<a class="button bg--blue margin--center" href="{{apts.intro.button_text_url}}">{{apts.intro.button_text}}</a>
</section>