<div class="block--service-content spacing--dsk-vert-5" id="service-{{loop.index}}">
	<div class="block--step-icons dsk--flex flex--wrap justify--between spacing--gutter-mob">
		{% for step in service.steps %}
			<div class="{% if loop.first %}active {% endif %}step--title grid--sm-seventh text--center" id="step-{{loop.index}}">
			<i class="{{step.icon_class}}" data-grunticon-embed></i>
			<p class="text--uppercase font--semi-bold font--even-smaller no-mar">{{step.title}}</p>
		</div>
		<div class=" spacing--vert-2 hidden--dsk">
			<h4 class="text--uppercase font--bold">{{step.description_title}}</h4>
			{{step.description_content}}
		</div>
	{% endfor %}
</div>
{% for step in service.steps %}
	<div class="{% if loop.first %}expanded {% endif %}block--step-content spacing--vert-2 hidden--mob" id="step-{{loop.index}}">
	<h4 class="text--uppercase font--bold">{{step.description_title}}</h4>
	{{step.description_content}}
	{# <a href="" class="trigger--appointment button"></a> #}
</div>
{% endfor %}
</div>